{% extends 'PublicBlog/base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block container %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Company
                        <strong>blog</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/slide-1.jpg" alt="">
                    <h2>{{ article.title }}
                        <br>
                        <small>{{ article.createdAt|date('d/m/Y')}}</small>
                    </h2>
                    <p>{{ article.content }}</p>
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}